* {
  box-sizing: border-box;
  margin: 0;
  --sidebar: #1992d4;
  --gray: #e2e8f0;
  --heading-black: #1c1d1e;
  --card-black: #000000;
  --card-description: #636363;
  --card-yellow: #f0b429;
  --sidecontent-border: #d2d2d2;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

main {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100%;
}

body {
  height: 100vh;
  font-family: "Roboto";
}

.bold {
  font-weight: bold;
}

.sidebar {
  height: 100%;
  background-color: var(--sidebar);
  color: white;
}

.sidelist {
  padding-left: 0px;
  margin-top: 20px;
}

.sideheading,
.sidelist-item {
  grid-template-columns: 1fr 3fr;
  row-gap: 10px;
  display: grid;
}

.sidelist-item {
  margin-top: 15px;
}

.new-list {
  margin-top: 40px;
}

.icon {
  display: grid;
  justify-self: center;
}

.sidelist-item > span {
  display: grid;
  justify-self: center;
}

.sideheading > h1 {
  font-size: 1.2rem;
  grid-column: 2;
  display: grid;
  justify-self: start;
  align-self: center;
}

.sidelist-item > a {
  display: grid;
  justify-self: start;
  align-self: center;
}

.icon {
  font-size: 2rem;
}

.sidelist > li {
  list-style-type: none;
}

.sidelist-item > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

header {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
}

input[type="search"] {
  background-color: var(--gray);
  border: none;
  width: 70%;
  height: 20px;
  border-radius: 15px;
  margin-left: 7px;
}

.search {
  grid-column: 1;
  align-self: center;
}

.notification {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 120px;
  align-items: center;
}

.notification > .mdi {
  justify-self: end;
}
.notification-img {
  height: 30px;
  grid-column: 2;
  justify-self: center;
}

.avatar-img {
  height: 50px;
}

.buttons > button {
  background-color: var(--sidebar);
  color: white;
  border: none;
  border-radius: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  align-self: flex-start;
  justify-self: flex-start;
}

.new {
  padding-left: 27px;
  padding-right: 27px;
}

.upload,
.share {
  padding: 7px 20px;
}

.avatar {
  grid-column: 1;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 15px;
}

.buttons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

button:hover {
  cursor: pointer;
}

.avatar-text {
  grid-column: 2;
}

.greeting {
  font-size: 0.7rem;
}

.user-name {
  font-size: 1rem;
}

.buttons {
  grid-column: 2;
}

.body {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--gray);
  padding: 20px 10px;
}

.heading {
  font-weight: bold;
  color: var(--heading-black);
}

.cards {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  height: 180px;
  background-color: white;
  border-radius: 5px;
  border-left: 7px solid var(--card-yellow);
  padding-left: 10px;
  padding-top: 20px;
}

.card-description {
  font-size: 0.8rem;
  width: 250px;
}

.card-description,
.card-icons {
  color: var(--card-description);
}

.card-icons {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, 40px);
  justify-content: end;
}

.card-icons > span:hover {
  cursor: pointer;
}

.card-title {
  font-weight: bold;
  color: var(--card-black);
}

.sidecontent {
  padding-left: 10px;
  padding-right: 10px;
}

.announcement-cards {
  background-color: white;
  border-radius: 5px;
  padding-top: 10px;
  margin-top: 10px;
  display: grid;
  justify-items: center;
}

.announcement-card {
  padding-top: 15px;
  padding-bottom: 20px;
}

.announcement-card > .card-title {
  font-size: 0.8rem;
}

.announcement-card,
.trending-avatar {
  width: 80%;
}

.announcement-card > .card-description {
  font-size: 0.8rem;
  width: 100%;
}

.border-below {
  border-bottom: 1px solid var(--sidecontent-border);
}

.trending {
  margin-top: 30px;
}

.trending-card {
  background-color: white;
  display: grid;
  row-gap: 20px;
  justify-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.trending-heading {
  font-size: 1rem;
  font-weight: normal;
}

.trending-heading:hover {
  cursor: pointer;
}

.trending-detail {
  margin-left: 10px;
}

.trending-description {
  color: var(--card-description);
  font-size: 0.9rem;
}

.trending-avatar > img {
  height: 35px;
}

.trending-detail {
  display: inline-block;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  color: black;
  text-align: center;
  grid-column: 1/3;
  display: grid;
}

.footer > a {
  color: inherit;
  text-decoration: none;
  grid-column: 1;
}

.footer > a:hover {
  text-decoration: underline;
}

.footer > p {
  grid-column: 2;
}

.footer > p > a {
  text-decoration: underline;
  color: inherit;
}
